{% extends 'base.html' %}
{% block titulo %}Relación Médico-Consultorio{% endblock %}
{% block bienvenido %}
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Médico-Consultorio
                </h1>
            </div>
        </div>
        <table class="table table-bordered">
							<thead>
								<tr>
									<th>Perfil</th>
									<th>Medico</th>
									<th>Consultorio</th>
								</tr>
							</thead>
							<tbody>
								{% for a in lis %}
								<tr>
								 <th><img src="http://localhost:8000/media/{{a.imagen}}" width="200"></th>
									<th>{{a.nombre}}</th>
									<th>{{a.consultorio}}</th>
								</tr>
								{%endfor%}
							</tbody>
				</table>
    </div>
{% endblock %}

    {% block subir %}
    <a style="display:scroll; position:fixed; bottom:10px; right:20px" href="/medico_consultorio"><img src="/static/img/up.png" width="80" />
    {% endblock %}