{% extends 'base.html' %}
{% block titulo %}Registro Paciente{% endblock %}
{% block bienvenido %}
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{mensaje}}
                </h1>
                <h3>Nota: </h3>Todo el paciente que sea registrado es por que fue debidamente atendido, en caso contrario no registrar
            </div>
        </div>
        
            <form method="POST" enctype="multipart/form-data">
			    {% csrf_token %}
			    <br>
			    <label for="nombre">Nombre:</label>
			    <!--input id="id_art_imagen" name="art_imagen" type="FILE" required/-->
			    <input id="nombre" type="text" class="form-control" aria-describedby="basic-addon1" name="nombre" required/>

			    <label for="medico">Medico que Atendio:</label>
			    <div class="form-group">
			        <div class="col-md-14">
			            <select class="form-control" id="status" name="medico">
			                {% for a in con %}
			                <option>{{a.nombre}}</option>
			                {% endfor %}
			            </select>
			        </div>
			    </div>

			    <label for="direccion">Dirección:</label>
			    <input id="direccion" type="text" class="form-control" aria-describedby="basic-addon1" name="direccion" required/>

			    <label for="telefono">Telefono:</label>
			    <input id="telefono" type="number" class="form-control" aria-describedby="basic-addon1" name="telefono" required/>

			    <label for="descripcion">Atención que recibio:</label><br>
				<textarea rows="5" cols="30" type="text" name="descripcion"placeholder="Describa la atención recibida " class="form-control input-md" required></textarea>
				<br>

			    <br><center>
				<input type="submit" href="#" class="btn btn-lg btn-success" value="Guardar">
				</center>
			</form>
    </div>
{% endblock %}

    {% block subir %}
    <a style="display:scroll; position:fixed; bottom:10px; right:20px" href="/registrar_medico"><img src="/static/img/up.png" width="80" />
    {% endblock %}