{% extends 'base.html' %}
{% block titulo %}Listado Pacientes{% endblock %}
{% block bienvenido %}
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Listado de Pacientes
                </h1>
            </div>
        </div>
        <table class="table table-bordered">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Médico</th>
									<th>Dirección</th>
									<th>Teléfono</th>
									<th>Atención Recibida</th>
									<th>Fecha de Atención</th>
								</tr>
							</thead>
							<tbody>
								{% for a in lis %}
								<tr>
									<th>{{a.nombre}}</th>
									<th>{{a.medico}}</th>
									<th>{{a.direccion}}</th>
									<th>{{a.telefono}}</th>
									<th>{{a.descripcion}}</th>
									<th>{{a.fecha}}</th>
								</tr>
								{%endfor%}
							</tbody>
				</table>
    </div>
{% endblock %}

    {% block subir %}
    <a style="display:scroll; position:fixed; bottom:10px; right:20px" href="/registrar_medico"><img src="/static/img/up.png" width="80" />
    {% endblock %}