{% extends 'base.html' %}
{% block titulo %}Listado Consultorios{% endblock %}
{% block bienvenido %}
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Listado de Consultorios
                </h1>
            </div>
        </div>
        <table class="table table-bordered">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Horario</th>
									<th>Teléfono</th>
									<th>Especialidad</th>
									<th>Descripción (Especialización)</th>
								</tr>
							</thead>
							<tbody>
								{% for a in lis %}
								<tr>
									<th>{{a.nombre}}</th>
									<th>{{a.horario}}</th>
									<th>{{a.telefono}}</th>
									<th>{{a.especialidad}}</th>
									<th>{{a.descripcion_es}}</th>
								</tr>
								{%endfor%}
							</tbody>
				</table>
    </div>
{% endblock %}

    {% block subir %}
    <a style="display:scroll; position:fixed; bottom:10px; right:20px" href="/registrar_medico"><img src="/static/img/up.png" width="80" />
    {% endblock %}